.container{
  display:flex;
  flex-direction:column;
  gap:28px;

  padding:24px;

  background:#FFF8F2;
  min-height:100vh;
}

.pageTitle{
  font-size:32px;
  font-weight:900;

  color:#1D1B18;
}

.fullLine{
  width:100%;
  height:4px;

  background:#1D1B18;

  margin:0;
}

.loading{
  padding:40px;

  color:#1D1B18;

  text-align:center;
}

.profileCard{
  position:relative;

  padding:40px;

  border:4px solid #1D1B18;

  background:#F5F1EC;

  box-shadow:10px 10px 0 #1D1B18;

  overflow:hidden;
}

.profileHeader{
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
  gap:40px;
}

.avatarWrapper{
  width:160px;
  height:160px;

  display:flex;
  justify-content:center;
  align-items:center;

  flex-shrink:0;

  border:4px solid #1D1B18;

  background:#F4DFC0;

  box-shadow:8px 8px 0 #1D1B18;

  overflow:hidden;
}

.avatar{
  width:160px;
  height:160px;

  object-fit:cover;
}

.userInfo{
  flex:1;

  display:flex;
  flex-direction:column;
  gap:18px;
}

.nameRow{
  display:flex;
  align-items:center;
  gap:18px;
  flex-wrap:wrap;
}

.nameRow h2{
  font-size:48px;
  font-weight:900;

  color:#1D1B18;
}

.premiumBadge{
  padding:8px 16px;

  border:2px solid #1D1B18;

  background:#E1AD01;

  font-size:18px;
  font-weight:600;

  color:#594300;
}

.userInfo p{
  display:flex;
  align-items:center;
  gap:12px;

  font-size:16px;
  font-weight:700;

  color:#5C5147;
}

.actionButtons{
  display:flex;
  gap:18px;
}

.editBtn,
.logoutBtn{
  height:36px;

  padding:8 24px;

  border-radius:999px;
  border:2px solid #1D1B18;

  font-size:14px;
  font-weight:700;

  cursor:pointer;
}

.editBtn{
  background:#E7CB7B;
}

.logoutBtn{
  background:#FF1B0A;
}

.bottomSection{
  display:grid;
  grid-template-columns:1fr 220px;
  gap:24px;
}

.progressCard{
  padding:24px;

  border:4px solid #1D1B18;

  background:#F5F1EC;

  box-shadow:10px 10px 0 #1D1B18;
}

.progressHeader{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.progressHeader h3{
  font-size:24px;
  font-weight:bold;

  color:#1D1B18;
}

.progressHeader h1{
  font-size:48px;
  font-weight:900;

  color:#D8AA07;
}

.progressLine{
  width:100%;
  height:3px;

  margin:22px 0;

  background:#1D1B18;
}

.progressBar{
  width:100%;
  height:60px;

  overflow:hidden;

  border:4px solid #1D1B18;

  background:#F5F1EC;
}

.progressFill{
  height:100%;

  background:
  repeating-linear-gradient(
    to right,
    #D8AA07 0,
    #D8AA07 110px,
    #1D1B18 112px,
    #D8AA07 114px
  );
}

.statsGrid{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  gap:20px;

  margin-top:40px;
}

.statBox{
  padding:16px;

  border:2px solid #555;

  background:#EFE6D5;

  text-align:center;
}

.statBox h2{
  font-size:48px;
  font-weight:900;

  color:#1D1B18;
}

.statBox p{
  margin-top:10px;

  font-size:12px;
  font-weight:800;

  color:#5E5348;
}

.sideButtons{
  display:flex;
  flex-direction:column;
  gap:24px;
}

.continueBtn,
.simBtn,
.lockedSimBtn{
  flex:1;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:20px;

  border:4px solid #1D1B18;

  font-size:12px;
  font-weight:900;

  cursor:pointer;

  box-shadow:8px 8px 0 #1D1B18;
}

.continueBtn{
  background:#D8AA07;

  color:#1D1B18;
}

.simBtn{
  background:#F5F1EC;

  color:#1D1B18;
}

.lockedSimBtn{
  background:#D3CEC7;

  color:#777;

  cursor:not-allowed;
}

.continueBtn svg,
.simBtn svg,
.lockedSimBtn svg{
  font-size:54px;
}

.bottomDecoration{
  display:flex;
  align-items:center;
  gap:30px;

  margin-top:40px;
}

.line{
  flex:1;
  height:6px;

  background:#1D1B18;
}

.bottomDecoration svg{
  font-size:44px;

  color:#D8AA07;
}

@media(max-width:1200px){

  .profileHeader{
    flex-direction:column;
  }

  .bottomSection{
    grid-template-columns:1fr;
  }

  .statsGrid{
    grid-template-columns:1fr;
  }

  .actionButtons{
    width:100%;
  }

  .editBtn,
  .logoutBtn{
    width:100%;
  }

}