.container {
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
}
.container th,
.container td{
    padding: 15px 20px;
    border: 2px solid #2C2A26;
}

.container tr:first-child th{
    background-color: #D3542B;
    color: white;
    text-align: start;
    font-size: 15px;
}
.container tr:last-child th{
    background-color: #F4F1EA;
    text-align: start;
}
.container th svg{
    margin-right: 5px;
    transform: translateY(2px);
}

.container td:first-child b{
    background-color: #d3552b41;
    padding: 0 5px;
}
.container td:last-child b{
    background-color: #2D5A4C41;
    padding: 0 5px;
}