.container {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}
.box {
  flex: 1;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title p {
  font-weight: 700;
  font-size: 35px;
  opacity: 0.7;
}

.container h5 {
  margin-bottom: 10px;
  color: white;
  border: 1px solid #2c2a26;
  width: fit-content;
  padding: 5px 10px;
}
.definition {
  font-size: 14px;
  color: #2c2a26;
  text-align: justify;
  width: 95%;
}



.examples {
  display: flex;
  gap: 10px;
  flex-wrap: wrap-reverse;
}

.note {
  font-weight: bold;
  font-size: 12px;
  padding: 10px 15px;
  margin-top: 15px;
  border: 2px solid #2c2a26;
}

.box:first-child .note b {
  background-color: #e8a838;
  padding: 0 5px;
}
.box:last-child .note b {
  background-color: #2d7a5e;
  padding: 0 5px;
  color: white;
}

.definition+br+ p {
  margin-bottom: 8px;
}

.wrap {
  display: grid;
  gap: 10px;
}
.wrap .sentence {
  background-color: #e8f4ef;
}
.box:first-child b {
  background-color: #e8a838;
  padding: 0 5px;
}
.box:last-child b {
  padding: 0 5px;
  background-color: #2d7a5e;
  color: white;
}

.container2,
.container3{
  margin-top: 30px;
}
.container2 h3+p,
.container3 h3+p{
  font-size: 14px;
  text-align: justify;
  margin-block: 15px;
}
.container2 p span{
  color: #C5502A;
  font-size: 18px;
}
.container2 p b{
  color: #C5502A;
  font-size: 14px;
  border: 2px solid #2c2a26;
  padding: 3px 6px;
  background-color: #e8a838;
}

.container3 .box{
  box-shadow: 4px 4px #2C2A26;
  padding: 20px;
}
.container3 .box p{
  font-weight: normal;
  font-size: 14px;
}
.container3 h5+p{
  margin-block: 10px
}
.container3 .box:last-child h5,
.container3 .box:last-child h5+p,
.container3 h5+p b{
  color: white;
}

