.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  gap: 30px;
}
.box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box.full {
  grid-column: span 2;
}

.container h1 {
  font-size: 36px;
}

.container h1+p {
  color: #8c8880;
  font-size: 14px;
  margin-block: 10px;
}

.container .example_sentences span {
  color: var(--span-color);
}

.note {
  border: 2px solid #2c2a26;
  background-color: #e8a838;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  margin-top: 20px;
}

.container h5 {
  width: fit-content;
  padding: 3px 7px;
  margin-bottom: 5px;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.example_sentences {
  margin-top: 20px;
  border: 2px solid #2c2a26;
  padding: 15px 10px;
}

.example_sentences b {
  color: var(--b-color);
  background-color: var(--b-backgroundColor);
  padding: 3px 5px
}


.examples{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
.examples p{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: normal;
    font-size: 14px;
    color: #2C2A26;
}
.pattern{
  white-space: pre-line;
}

.tujuan,
.container span+p{
  margin-top: 20px;
}

.labelValueGroup{
  font-weight: bold;
}