.container1,
.container3,
.container4,
.container5,
.container6 {
  margin-top: 30px;
}
.splitTwo {
  display: flex;
  gap: 40px;
}
.box {
  flex: 1;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.container1 .note {
  font-size: 12px;
  padding: 10px 15px;
  margin-top: 15px;
  border: 2px solid #2c2a26;
}

.container2 {
  border: 1px solid #2c2a26;
  box-shadow: 4px 4px #2c2a26;
  padding: 30px;
  margin-top: 30px;
  background-color: #fdfaf5;
}

.container2 h3 + div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-block: 20px;
}

.container2 h3 + div + p {
  font-size: 12px;
  color: #8c8880;
}


.sentences {
  width: 100%;
  display: grid;
  gap: 10px;
}
.container3 .sentences p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #2c2a26;
}

.container3 .box:first-child span{
  color: #C5502A;
}
.container3 .box:last-child span{
  color: #2D7A5E;
}
.container4 .note{
  color: #8C8880;
  font-size: 12px;
  font-weight: normal;
}
.container4 .sentences span:first-child{
  color: white;
  background-color: #C5502A;
  padding-inline: 5px;
}
.container4 .sentences span:last-child{
  color: white;
  background-color: #2D7A5E;
  padding-inline: 5px;
}

.container5 h3{
  color: #C5502A;
  margin-bottom: 20px;
}
.container5 p{
  font-weight: normal;
  font-size: 14px;
  height: fit-content;
}
.container5 .sentences p:last-child{
  border: 1px solid #2c2a26;
  background-color: white;
  padding: 10px 8px;
}
.container5 .sentences:first-child b{
  color: white;
  background-color: #2D7A5E;
  padding: 0 3px;
}
.container5 .sentences:last-child b{
  color: white;
  background-color: #C5502A;
  padding: 0 3px;
}

.container5 .note{
  border: 1px solid #2c2a26;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  margin-top: 50px;
  background-color: #E8A838;
}

.container6 .list{
  border: 1px solid #2c2a26;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  align-items: center;
}
.container6 h4+p{
  color: #8C8880;
  font-size: 12px;
  margin-top: 5px;
}
.container6 h4:last-child{
  color: white;
  border: 1px solid #2c2a26;
  padding: 5px 10px;
  height: fit-content;
}