.wrongSentence {
  text-decoration: line-through;
}

.container {
  margin-top: 30px;
  background-color: #faeeda;
  border: 1px solid #e8a838;
  border-left: 8px solid #e8a838;
  box-shadow: 4px 4px #2c2a26;
  padding: 20px;
}

.container h3+div{
    display: flex;
    gap: 40px;
}
.box{
    flex: 1;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.examples{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
.examples p{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid #2C2A26;
    box-shadow: 2px 2px #2C2A26;
    background-color: #E8F4EF;
    font-size: 14px;
    color: #2C2A26;
    padding: 10px 20px;
}