.wrongSentence {
  text-decoration: line-through;
}

.container {
  margin-top: 30px;
}

.container h3+div{
    display: flex;
    gap: 40px;
}
.box{
    flex: 1;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.examples{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
.examples p{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: normal;
    font-size: 14px;
    color: #2C2A26;
}