@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/garet');

:root{
  --bg-color:#f5f2ec;
  --primary:#C5502A;
  --secondary:#e6a52d;
  --text:#222222;
  --subtext:#777777;
  --white:#ffffff;
  --border:#2C2A26;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background:var(--bg-color);
  color:var(--text);
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: none;
}

.wrongSentence {
  text-decoration: line-through;
}
.divider {
  width: 100%;
  height: 2px;
  background-color: #2c2a26;
  margin-block: 20px;
}
.splitTwo {
  display: flex;
  gap: 40px;
}

@media (max-width: 768px) {
  .splitTwo {
    flex-direction: column;
    gap: 20px;
  }
}

.bullet {
  border: 2px solid #2c2a26;
  box-shadow: 3px 3px #2c2415;
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-shrink: 0;
}

img, video, canvas, svg {
  max-width: 100%;
}