:root{
  --bg-color:#f5f2ec;
  --primary:#C5502A;
  --secondary:#e6a52d;
  --text:#222222;
  --subtext:#777777;
  --white:#ffffff;
  --border:#222222;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:var(--bg-color);
  color:var(--text);
}