.container {
  margin-top: 30px;
}
.container .definition {
  white-space: pre-line;
  text-align: justify;
  margin-top: 15px;
}
.container .definition b{
  background-color: #E8A838;
  padding: 0 5px;
}
