.container {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}
.box {
  flex: 1;
}

.container h1 {
  font-size: 38px;
}
.definition {
  font-size: 14px;
  color: #2c2a26;
  text-align: justify;
  width: 95%;
}
.example{
    font-weight: 700;
    text-align: center;
    border: 2px solid #2C2A26;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 20px;
}

.wrap{
    display: flex;
    align-items: center;
    gap: 10px;
}
.wrap div{
    width: 8px;
    height: 8px;
}