.container{
  display:flex;
  height:100vh;
  background:var(--bg-color);
}

.left{
  width:50%;
  border-right:2px solid var(--border);
  position:relative;
}

.right{
  width:50%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.authBox{
  width:520px;
}

.logo{
  position:absolute;
  top:40px;
  left:40px;

  padding:15px 40px;
  border:3px solid var(--border);
  background:var(--white);
  font-weight:700;
  font-size:20px;

  box-shadow:4px 4px 0 var(--border);
}

.content{
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.content h1{
  font-size:72px;
  text-align:center;
  line-height:1.1;
  color:var(--text);
  font-weight:700;
}

.line{
  width:430px;
  height:6px;
  background:var(--secondary);
  border-radius:20px;
  margin:30px 0;
}

.content p{
  width:500px;
  text-align:center;
  color:var(--subtext);
  line-height:1.8;
  font-size:18px;
}

.tags{
  margin-top:30px;
  display:flex;
  gap:20px;
}

.tags button{
  padding:15px 25px;
  border:3px solid var(--border);
  background:var(--white);
  font-weight:700;
  cursor:pointer;
  font-size:15px;

  box-shadow:4px 4px 0 var(--border);
}

.circle{
  width:70px;
  height:70px;
  border-radius:50%;
  background:var(--secondary);

  position:absolute;
  top:130px;
  left:340px;

  border:3px solid var(--border);
}

.square{
  width:50px;
  height:50px;
  background:var(--primary);

  position:absolute;
  top:90px;
  right:120px;

  border:3px solid var(--border);
}

.smallSquare{
  width:60px;
  height:60px;
  border:3px solid var(--border);
  background:var(--white);

  position:absolute;
  bottom:180px;
  left:60px;
}

.smallCircle{
  width:35px;
  height:35px;
  border-radius:50%;
  background:var(--primary);

  position:absolute;
  bottom:70px;
  left:40px;

  border:3px solid var(--border);
}

.tab{
  display:flex;
  margin-bottom:30px;
}

.tabLink{
  width:50%;
  padding:18px;
  text-align:center;
  text-decoration:none;
  border:3px solid var(--border);
  color:var(--text);
  font-weight:700;
  background:var(--white);
}

.activeTab{
  background:var(--primary);
  color:var(--white);
}

.form{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.form label{
  font-size:16px;
  font-weight:600;
}

.form input{
  padding:18px;
  border:3px solid var(--border);
  font-size:16px;
  outline:none;

  box-shadow:4px 4px 0 var(--border);
}

.loginBtn{
  margin-top:20px;
  padding:20px;
  border:none;
  background:var(--primary);
  color:var(--white);
  font-size:18px;
  font-weight:700;
  cursor:pointer;

  box-shadow:4px 4px 0 var(--border);
}

.bottomText{
  margin-top:20px;
  text-align:center;
  color:var(--subtext);
}

.bottomText a{
  text-decoration:none;
}

.bottomText b{
  color:var(--primary);
}

.passwordBox{
  position:relative;
  width:100%;
}

.passwordBox input{
  width:100%;
  padding-right:60px;
}

.eyeBtn{
  position:absolute;
  top:50%;
  right:18px;

  transform:translateY(-50%);

  border:none;
  background:none;

  display:flex;
  align-items:center;
  justify-content:center;

  cursor:pointer;

  font-size:20px;
  color:var(--text);
}