.container {
  margin-top: 30px;
}
.box {
  flex: 1;
  display: flex;
  justify-content: center;
}
.wrap{
  width: 50%;
  display: grid;
  gap: 20px;
}

@media (max-width: 768px) {
  .wrap {
    width: 100%;
  }
}
