.container {
  margin-top: 30px;
}
.box {
  flex: 1;
}

.box:last-child {
  padding: 20px;
  border: 2px solid #2c2a26;
  box-shadow: 2px 2px #2c2a26;
  background-color: #f5f1ea;
}

.box:last-child h4 {
  color: #c5502a;
  margin-bottom: 10px;
}

.box:first-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item {
  display: flex;
  gap: 10px;
}
.item div {
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  margin-top: 5px;
}

.item b {
  background-color: #E8A838;
  color: #2c2a26;
  padding: 0 5px;
}

.item:last-child b:last-child{
  display: inline-block;
  margin-top: 10px;
}
