
.container {
  margin-top: 30px;
}
.wrap {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}
.box {
  flex: 1;
}
.label {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
}
.example {
  display: grid;
  gap: 15px;
  margin-top: 15px;
}
.example div {
  background-color: #f5f1ea;
  border: 2px solid #2c2a26;
  padding: 12px;
}
.example span {
  background-color: var(--span-color);
  padding: 0 5px;
}
.example p {
  margin-top: 8px;
  font-size: 13px;
  color: #8c8880;
}

.box:not(:nth-child(2)) span{
    color: white;
}
