.dashboard{
  display:flex;
  flex-direction:column;
  gap:30px;
}

.topBar{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.topBar h1{
  font-size:48px;
  font-weight:700;
  color:#1D1B18;
}

.dateBox{
  padding:14px 24px;
  background:#EDE7E1;
  border:2px solid #1D1B18;

  font-weight:700;

  box-shadow:5px 5px 0 #1D1B18;
}

.heroGrid{
  display:grid;
  grid-template-columns:1.5fr 1fr;
  gap:24px;
}

.heroLeft{
  background:#fff;
  border:2px solid #1D1B18;
  padding:40px;

  box-shadow:5px 5px 0 #1D1B18;
}

.smallTitle{
  color:#A43814;
  font-weight:700;
  margin-bottom:20px;
}

.heroLeft h2{
  font-size:52px;
  line-height:1.1;
  margin-bottom:40px;
}

.progressInfo{
  margin-bottom:30px;
}

.progressText{
  display:flex;
  justify-content:space-between;
  margin-bottom:10px;

  font-weight:700;
}

.progressBar{
  width:100%;
  height:24px;

  border:2px solid #1D1B18;

  background:#E7E2DB;
}

.progressFill{
  width:64%;
  height:100%;
  background:#16694E;
}

.continueBtn{
  padding:18px 40px;

  border:2px solid #1D1B18;
  background:#A43814;

  color:#fff;
  font-size:22px;
  font-weight:700;

  cursor:pointer;

  box-shadow:5px 5px 0 #1D1B18;
}

.heroRight{
  position:relative;

  background:#FDBA49;
  border:2px solid #1D1B18;

  display:flex;
  align-items:center;
  justify-content:center;

  min-height:420px;

  box-shadow:5px 5px 0 #1D1B18;
}

.heroImage{
  font-size:150px;
}

.scoreBox{
  position:absolute;
  top:30px;
  right:30px;

  padding:10px 25px;

  background:#1D1B18;
  color:#fff;

  border:2px solid #1D1B18;

  font-size:40px;
  font-weight:700;

  transform:rotate(12deg);
}

.sectionTitle{
  font-size:28px;
  font-weight:700;
}

.materialList{
  display:flex;
  flex-direction:column;
  gap:16px;
}

.completedCard,
.progressCard,
.lockedCard{
  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:24px;

  border:2px solid #1D1B18;

  box-shadow:5px 5px 0 #1D1B18;
}

.completedCard{
  background:#16694E;
  color:#fff;
}

.progressCard{
  background:#FDBA49;
}

.lockedCard{
  background:#EDE7E1;
  opacity:.7;
}

.bottomBanner{
  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:40px;

  background:#E8A838;

  border:2px solid #1D1B18;

  box-shadow:5px 5px 0 #1D1B18;
}

.bottomBanner h2{
  font-size:36px;
  margin-bottom:10px;
}

.bottomBanner button{
  padding:18px 40px;

  border:2px solid #1D1B18;
  background:#EDE7E1;

  font-weight:700;

  box-shadow:5px 5px 0 #1D1B18;
}
